/* Container for the whole page */
.container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    flex-direction: column;
  }
  
  /* Form Section */
  .formStyle {
    
    margin-top: 10%;
    width: 900px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    background-color: #fff;
    box-shadow: var(--box-shadow);
    max-width: 700px;
    box-sizing: border-box;
  }
  
  .formStyle input[type="file"] {
    display: block;
    margin-top: 15px;
  }
  
  .uploaded {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    background-color: #fff;
    overflow-y: auto;
    box-shadow: var(--box-shadow);
    
  }
  
  /* PDF List items */
  .inner-div {
    margin-bottom: 15px;
  }
  
  .inner-div h6 {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .output-div button {
    margin-top: 10px;
    width: 100%;
    max-width: 200px;
  }
  
  /* Small devices */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .formStyle,
    .uploaded {
      flex: 1;
      margin-bottom: 20px;
      width: 100%;
    }
  }
  